$wins: #62b435;
$draws: #a1aab2;
$loses: #f64747;
$button-sea: #3498db;
$black: #000000;
$primary: #ffffff;
// $background-secondary:

$black10: rgba(0, 0, 0, 0.1);
$black20: rgba(0, 0, 0, 0.2);
$black40: rgba(0, 0, 0, 0.4);
$black60: rgba(0, 0, 0, 0.6);
$black80: rgba(0, 0, 0, 0.8);

$grey80: rgba(51, 51, 51, 0.8);