$mainFont: 'Proxima Nova';
$semiboldFont: 600;
$regularFont: 400;

$xlFontSize: 20px;
$xlFontSize: 18px;
$lFontSize: 16px;
$mFontSize: 14px;
$sFontSize: 12px;

$xlFontLh: 24px;
$xlFontLh: 18px;
$xlFontLh: 22px;
$lFontLh: 16px;
$mFontLh: 14px;

$mobilePadding:16px;
$desktopPadding:20px;
$lDesktopPadding:24px;

$mobileMargin:16px;
$desktopMargin:24px;